<div class="radio" id=<%= show_answered(question, answer) %>>
  <%= f.radio_button question.id, answer.text, options = {
    checked: checked(question, answer),
    disabled: question.answered}  %>
  <%= f.label question.id, raw("#{labeltext(question, answer)} #{check(question, answer)}"), value: answer.text %>  
</div>