<div class="radio" id=<%= show_answered(answer) %>>
  <%= f.radio_button question.id, answer.text, options = {
    checked: checked?(answer),
    disabled: question.answered}  %>
  <%= f.label question.id, raw("#{label_text(answer)} #{check(answer)}"), value: answer.text %>  
</div>