<div class="grid-item" id="question">
  <div class="prompt">
    <p ><strong><%= index + 1 %>. <%= question.prompt %></strong></p>
  </div>
  <% question.answers.each do |answer| %>
    <%= render partial: "answer", locals: {question: question, answer: answer, f: f} %>
  <% end %>
  <%= f.button "Answer", disabled: question.answered, name: "submit", value: question.id %>
</div>