<div class="grid-item" id="question">
  <div class="prompt">
    <p><strong><%= index + 1 %>. <%= raw(question_text(question)) %></strong></p>
  </div>
  <div class="answerbox">
    <% question.answers.sort.each do |answer| %>
      <%= render partial: "answer", locals: {question: question, answer: answer, f: f} %>
    <% end %>
  </div>
    <%= f.button "Answer", disabled: question.answered, name: "submit", value: question.id, class: "answer" %>
</div>