<% provide(:title, 'Quiz') %>
<div id="container">
  <div class="row">
    <%= render 'info' %>
  </div>
  
  <%= form_with model: @quiz, method: "patch", html: {class: "question", name: @quiz.created_at} do |f| %>
    <div class="row">
      <div class="grid-container">  
        <% @quiz.questions.sort.each_with_index do |question, index| %>
          <%= render partial: "question", locals: {question: question, f: f, index: index} %>
        <% end %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12" id="bottom">
        <%= f.button "Answer All", name: "submit", value: "all", class: "answerall" %>
      </div>
    </div>
  <% end %>
</div>