<% provide(:title, "Help") %>
<h1>Help for Chemistry Quiz</h1>
<p>Choose a quiz and see how well you can do.  Quizzes have different levels with increasing difficulty.</p>
<p>Create an account and go to your profile to see your high scores.</p>

