<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <div class="home-image">
    <%= image_tag('lab.jpg') %>
  </div>
  
  <h1 class="maintitle">Chemistry Quiz</h1>
  
  <% if logged_in? %>
  
    <%= link_to "Start a new quiz", quiz_types_path, class: "btn btn-lg btn-primary home" %>
    <%= link_to "Resume quiz", quiz_path, class: "btn btn-lg btn-primary home" %>
  <% else %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary home" %>
  <% end %>
</div>

