// Place all the styles related to the ChemPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary.home {
  width: 15%;
}

div.jumbotron {
  background-image: url('beakers.jpg');
  background-repeat: no-repeat;
  background-size: 25% 100%;
  background-color: PowderBlue;
  border: 2px solid DarkBlue;
}