p.score {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: DarkBlue;
  font-size: 1.4em;
  margin: 0.5em 1em;
  background-color: LightBlue;  
  border: 2px solid DarkBlue;
  text-align: center;
}

.btn-primary.quiz {
  width: 45%;
  font-size: 1.2em;
  margin: 0.5em auto;
}


.info {
  color: DarkBlue;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 2em;
}

.level {
  padding: 0em;
  color: black;
  margin: 0em 0em;
  width: 25%;
  border: black;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.level.l1 {
  background-color: green;
}

.level.l2 {
  background-color: yellow;
}

.level.l3 {
  background-color: red;
}

form.question {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 5px;
  background-color: LightBlue;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid blue;
  padding: 0.8em;
}

.grid-item {
  position: relative;
}

button.answerall {
  margin: 1em auto;
  display: block;
}

button.answer {
  position: absolute;
  bottom: 0.5em;
}

div.answerbox {
  display: block;
  margin-bottom: 2.5em;
}

.alert-info {
  font-weight: bold;
}

div.radio {
  margin-left: 1.8em;
}

#correct {
  background-color: LightGreen;
}

/* quiz form */
.quiz {
  width: 25%;
}

.score {
  font-weight: bold;
}

div.prompt {
  
}